header.navbar > .img-avatar {
    height: 36px;
    margin: -3px 10px 0 10px;
}

nav.sidebar-nav {
    .form-control {
        border: 0;
        background: darken($sidebar-bg,10%);
        color: #fff;

        &::-webkit-input-placeholder { color: rgba(255,255,255,.7); }
        &:-moz-placeholder { color: rgba(255,255,255,.7); }
        &::-moz-placeholder { color: rgba(255,255,255,.7); }
        &:-ms-input-placeholder { color: rgba(255,255,255,.7); }
    }
}

.card, .social-box {
    border-top-width: 0;
    border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
    border-top-width: 1px !important;
}

[class*="card-accent-"] {
    border-top-width: 2px !important;
}

.aside-menu {
    .nav-tabs .nav-link,
    .callout {
        border-radius: 0;
    }
}

#container {
  width: 1000px; height: 310px; margin: 0 auto
}

.autocompleteWrapper{
    width: 950px;
}
.locationRefresh{
    position: relative;
    left: -40px;
    top: 30px;
    font-size: 24px;
}

.icon-refresh-animate {
    -webkit-animation: spin 1s infinite linear; /* Safari 4+ */
    -moz-animation:    spin 1s infinite linear; /* Fx 5+ */
    -o-animation:      spin 1s infinite linear; /* Opera 12+ */
    animation:         spin 1s infinite linear; /* IE 10+ */
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}